/*
* This file contains data variables used across the site.
*/
/*
* This is a common css file for entire theme.
*/
.site-header {
  height: 105px;
  width: 100%;
  display: table;
}
.site-header .site-header-middle {
  display: table-cell;
  vertical-align: middle;
}
.site-header .site-header-content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.site-header .site-navigation-search {
  display: flex;
  justify-content: space-between;
}

#searchform {
  padding-top: 25px;
  padding-left: 10px;
}
#searchform .search-input {
  width: 150px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #62585f;
  border-radius: 3px;
}
#searchform .search-submit {
  position: relative;
  top: 4px;
}

#site-navigation:first-child {
  padding-top: 20px;
}
#site-navigation a, #site-navigation a:visited {
  color: #222222;
  font-family: "Open sans";
  font-size: 14px;
  font-weight: bold;
}
#site-navigation li {
  margin-left: 3px;
}
#site-navigation li.current-menu-item, #site-navigation li:hover {
  background-color: #ef4634;
  border-radius: 3px;
}
#site-navigation li.current-menu-item a, #site-navigation li:hover a {
  color: #ffffff;
}

div.portfolio-taxonomy {
  background-image: url("../img/features-repeatable-bg.png");
  height: 101px;
  width: 100%;
  display: table;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle {
  display: table-cell;
  vertical-align: middle;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content div.portfolio-taxonomy-block {
  display: flex;
  justify-content: space-between;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content div.portfolio-taxonomy-block img {
  position: relative;
  top: 15%;
  height: 50px;
  margin-right: 1em;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content div.portfolio-taxonomy-block div.portfolio-taxonomy-details span.portfolio-taxonomy-title {
  font-family: "Open sans";
  font-weight: bold;
  font-size: 20px;
  color: #ef4634;
  text-shadow: 2px 2px #ffffff;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content div.portfolio-taxonomy-block div.portfolio-taxonomy-details span.portfolio-taxonomy-title:hover {
  color: #222222;
}
div.portfolio-taxonomy div.portfolio-taxonomy-middle div.portfolio-taxonomy-content div.portfolio-taxonomy-block div.portfolio-taxonomy-details p.portfolio-taxonomy-description {
  margin: 0;
  font-family: "Open sans";
  font-weight: normal;
  font-size: 13px;
  color: #333333;
  line-height: 19.5px;
}

div#primary {
  width: 100%;
  margin-top: 3em;
}
div#primary main#main {
  margin: 0 auto;
  width: 65%;
}
div#primary main#main div.main-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #62585f;
}
div#primary main#main div.main-title span {
  font-family: "Open sans";
  font-weight: lighter;
  font-size: 45px;
  color: #62585f;
  text-shadow: 2px 2px #ffffff;
}
div#primary main#main div.main-title a {
  font-family: "Open sans";
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  background-color: #222222;
  padding: 10px;
  border-radius: 5px;
  line-height: 0.5;
  height: 1.8em;
  position: relative;
  top: 1.3em;
  display: block;
  text-decoration: none;
}
div#primary main#main div.main-title a:hover, div#primary main#main div.main-title a.selected {
  background-color: #ef4634;
}
div#primary main#main div.portfolio-block {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 17px;
  padding: 1.3em 0;
  padding-bottom: 1.8em;
  border-bottom: 1px solid #62585f;
  overflow: auto;
}
div#primary main#main div.portfolio-block .portfolio-item {
  height: 210px;
  width: 300px;
  position: relative;
}
div#primary main#main div.portfolio-block .portfolio-item img.portfolio-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: none;
}
div#primary main#main div.portfolio-block .portfolio-item .portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-color: #222222;
  cursor: pointer;
}
div#primary main#main div.portfolio-block .portfolio-item .portfolio-overlay .portfolio-overlay-text {
  color: #ffffff;
  font-family: "Open sans";
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
div#primary main#main div.portfolio-block .portfolio-item:hover .portfolio-overlay {
  opacity: 0.8;
}

/*# sourceMappingURL=theme.css.map */
