/*
* This is a common css file for entire theme.
*/

@use 'variables';

.site-header {
	height: 105px;
	width: 100%;
    display: table;
    
    .site-header-middle {
        display: table-cell;
        vertical-align: middle;
    }

    .site-header-content {
        width: variables.$content-width;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .site-navigation-search {
        font-family: 'Open sans';
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
}

#searchform {
	padding-top: 25px;
    padding-left: 10px;
    
    .search-input {
        width: 150px;
        height: 20px;
        background-color: #ffffff;
        border: 1px solid #62585f;
        border-radius: 3px;
    }

    .search-submit {
        position: relative;
        top: 4px;
    }
}

#site-navigation {
    &:first-child {
        padding-top: 20px;
    }

    a:link, a:visited, a:active {
        color: #222222;
        font-size: 14px;
    }

    li.current-menu-item {
        background-color: #ef4634;
        border-radius: 3px;
    }

    li:hover {
        color: #ffffff;
        background-color: #ef4634;
        border-radius: 3px;
    }

    a {
        color: #ffffff;
    }
} 
