/*
* This is a common css file for entire theme.
*/

@use 'variables';

.site-header {
	height: 105px;
	width: 100%;
    display: table;
    
    .site-header-middle {
        display: table-cell;
        vertical-align: middle;
    }

    .site-header-content {
        width: variables.$content-width;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .site-navigation-search {
        display: flex;
        justify-content: space-between;
    }
}

#searchform {
	padding-top: 25px;
    padding-left: 10px;
    
    .search-input {
        width: 150px;
        height: 20px;
        background-color: #ffffff;
        border: variables.$border-bottom;
        border-radius: 3px;
    }

    .search-submit {
        position: relative;
        top: 4px;
    }
}

#site-navigation {

    &:first-child {
        padding-top: 20px;
    }

    a, a:visited {
        color: #222222;
        font-family: 'Open sans';
        font-size: 14px;
        font-weight: bold;
    }

    li {
        margin-left: 3px;
    }

    li.current-menu-item, li:hover {
        background-color: #ef4634;
        border-radius: 3px;

        a {
            color: #ffffff;
        }
    }
    
} 

div.portfolio-taxonomy {
    background-image: url('../img/features-repeatable-bg.png');
    height: 101px;
    width: 100%;
    display: table;

    div.portfolio-taxonomy-middle {
        display: table-cell;
        vertical-align: middle;
        
        div.portfolio-taxonomy-content {
            width: variables.$content-width;
            margin: auto;
            display: flex;
            justify-content: space-between;

            div.portfolio-taxonomy-block {
                display: flex;
                justify-content: space-between;

                
                img {
                    position: relative;
                    top: 15%;
                    height: 50px;
                    margin-right: 1em;
                }

                div.portfolio-taxonomy-details {
                    
                    span.portfolio-taxonomy-title {
                        font-family: 'Open sans';
                        font-weight: bold;
                        font-size: 20px;
                        color: #ef4634;
                        text-shadow: 2px 2px #ffffff;
                    }

                    span.portfolio-taxonomy-title:hover {
                        color: #222222;
                    }
                    
                    p.portfolio-taxonomy-description {
                        margin: 0;
                        font-family: 'Open sans';
                        font-weight: normal;
                        font-size: 13px;
                        color: #333333;
                        line-height: 19.5px;
                    }
                }
            }
        }
    }
}

div#primary {
    width: 100%;
    margin-top: 3em;

    main#main {
        margin: 0 auto;
        width: variables.$content-width;

        div.main-title {
            display: flex;
            justify-content: space-between;
            border-bottom: variables.$border-bottom;
            font-family: 'Open sans';

            span {
                font-weight: lighter;
                font-size: 45px;
                color: #62585f;
                text-shadow: 2px 2px #ffffff;
            }

            & > a {
                font-weight: normal;
                font-size: 16px;
                color: #ffffff;
                background-color: #222222;
                padding: 10px;
                border-radius: 5px;
                line-height: 0.5;
                height: 1.8em;
                position: relative;
                top: 1.3em;
                display: block;
                text-decoration: none;
            }
            
            div {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 0.5em;

                a {
                    font-weight: normal;
                    font-size: 16px;
                    color: #ffffff;
                    background-color: #222222;
                    padding: 10px;
                    border-radius: 5px;
                    line-height: 0.5;
                    height: 1.8em;
                    position: relative;
                    top: 1.3em;
                    display: block;
                    text-decoration: none;
                }
            }

            a:hover, a.selected {
                background-color: #ef4634;
            }
        }

        div.portfolio-block {
            padding: 1.3em 0;
            padding-bottom: 1.8em;
            border-bottom: variables.$border-bottom;
            overflow: auto;

            div.portfolio-grid {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 17px;

                .portfolio-item {
                    height: 210px;
                    width: 300px;
                    position: relative;
    
                    img.portfolio-img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        object-fit: none;
                    }
    
                    .portfolio-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .5s ease;
                        border-radius: 10px;
                        background-color: #222222;
                        cursor: pointer;
    
                        .portfolio-overlay-text {
                            color: #ffffff;
                            font-family: 'Open sans';
                            font-size: 15px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            text-align: center;
                        }
                    }
                }
    
                .portfolio-item:hover .portfolio-overlay {
                    opacity: 0.8;
                }
            }

            nav.pagination {
                width: 100%;
                margin-top: 1.8em;

                div.nav-links {
                    width: auto;
                    margin: 0 auto;

                    * {
                        height: 30px;
                        width: 30px;
                        display: inline-block;
                        text-align: center;
                        line-height: 30px;
                        margin: 0 0.1em;
                    }

                    a.prev {
                        display: none;
                    }

                    a {
                        font-family: 'Open sans';
                        font-weight: 600;
                        font-size: 16px;
                        color: #222222;
                        text-decoration: none;
                    }

                    span.current {
                        font-family: 'Open sans';
                        font-weight: 600;
                        font-size: 16px;
                        color: #ffffff;
                        background-color: #ef4634;
                        border-radius: 3px;
                    }

                    a.next {

                        img {
                            margin: -3px 0 0 0;
                            height: auto;
                            width: auto;
                        }
                    }

                    a:hover {
                        color: #ffffff;
                        background-color: #ef4634;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

footer.site-footer {
    margin: 0 auto;
    width: variables.$content-width;

    div.site-info {
        width: 100%;
        padding: 3em 0;
        display: grid;
        grid-template-columns: 50% 50%;
        font-family: 'Open sans';
        font-weight: normal;
        border-bottom: variables.$border-bottom;

        span.title {
            font-size: 25px;
            color: #62585f;
            text-shadow: 2px 2px #ffffff;
        }
        
        p.description {
            font-size: 14px;
            color: #62585f;
            line-height: 21px;
            margin: 0.8em 0;

            span.email {
                color: #ef4634;
            }
        }

        div.site-detail {   

            a.read-more {
                font-size: 14px;
                color: #ef4634;
            }
        }

        div.contact-detail {
            margin-left: 10%;
        }
    }

    div.copyright-div {
        margin: 1em 0;
        font-family: 'Open sans';
        font-weight: normal;
        font-size: 14px;
        color: #62585f;
        width: 100%;
        text-align: center;

        a.copyright-rtcamp {
            color: #ef4634;
        }
    }
}

div#portfolio-modal {
    display: none;
}